.cont__btn {
	position: fixed;
	right: 0;
	bottom: 30px;
}
.cont__btn a {
	display: block;
	background: #FD5314;
	padding: 15px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	line-height: 1;
	color: #FDF0CD;
	text-transform: uppercase;
}
.cont__btn a::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 0px;
    bottom: 6px;
    border: 1px solid #FDEA5C;
    border-right: 0;
    border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.lb__concurso {
	position: relative;
	z-index: 1000;
}
.cont__lb,
.bg__lb,
.info__lb {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cont__lb {
	position: fixed;
}
.bg__lb {
	position: absolute;
	background: rgba(0, 0, 0, .7);
}
.info__lb {
	position: absolute;
	overflow: auto;
}
.lb__center {
	width: 100%;
	min-height: 100vh;
	padding: 60px 0px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.center__cont {
	width: 100%;
	padding: 0 15px;
}
.box__info {
	width: 750px;
	max-width: 90%;
	margin: 0 auto;
	border-radius: 12px;
	padding: 50px 30px 30px;
	color: #ffffff;
	background: url('../images/concurso/bg.jpg') center;
	position: relative;
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}
.close__lb {
	position: absolute;
	top: 12px;
	right: 12px;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background: #FFEB55;
	cursor: pointer;
}
.close__lb::before,
.close__lb::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 2px;
    background: #0B6630;
    top: 50%;
    left: 50%;
}
.close__lb::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.close__lb::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.c__cta {
    margin-top: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
}
.cta,
.cta__sec {
    text-transform: uppercase;
    color: #0B6630;
}
.cta {
    width: auto;
    display: inline-block;
    padding: 14px 20px;
    margin: 0 10px 20px;
    border-radius: 16px;
    background: #FFEB55;
    color: #144125;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    z-index: 1;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-box-shadow: 0 5px 0px 0 rgba(0,0,0,.5);
    box-shadow: 0 5px 0px 0 rgba(0,0,0,.5);
    -webkit-transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
    -moz-transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
    -ms-transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
    -o-transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
    transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.cta::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #0B6630;
    border-radius: 14px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.cta:hover {
	color: #144125;
	text-decoration: none;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}


.compo {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.botellas {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.bote { width: 25%; }
.b02 {
    width: 27%;
    margin: 0 -3%;
    z-index: 1;
}
.b04 {
    width: 24%;
    margin-left: -3%;
    z-index: -1;
}
.c__frut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.frut {
    position: absolute;
    width: 50%;
}
.fru01 {
    left: -8%;
    bottom: 2%;
    width: 28%;
}
.fru02 {
    left: 14%;
    bottom: -7%;
    width: 21%;
}
.fru03 {
    left: 26%;
    bottom: -8%;
    width: 35%;
    z-index: 10;
}
.fru04 {
    right: 17%;
    bottom: 3%;
    width: 37%;
}
.fru05 {
    right: -6%;
    bottom: 0%;
    width: 33%;
}

/******************************
*   Mob
******************************/
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
}
@media (min-width : 480px) {
}
/* Small Devices, Tablets */
@media (min-width : 480px) and (max-width : 767px) {
}
/* Small Devices, Nav */
@media (max-width : 649px) {
.fil__lb > div + div { margin-top: 40px; }
.compo {
	width: 60%;
	max-width: 270px;
}
.logo__con {
	width: 80%;
	margin: 0 auto;
}
}
/* Medium Devices to Large Devices */
@media (min-width : 650px){
.fil__lb {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
}
.fil__lb > div { padding: 15px; }
.c__compo { width: 40%; }
.logo__con { width: 60%; }
}



